<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script type = "text/javascript" >
        function preventBack(){
          window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

</head>
<body>
<div class="container">
    <h2>Grocery Application</h2>
    <b><span sec:authentication="principal.username"> User</span></b>
</div>

<div class="container my-2">
    <h1>Product List</h1>

    <a th:href = "@{/showNewProductsForm}" class="btn btn-primary btn-sm mb-3"> Add Product </a>
    <span><a th:href="@{/category}" class="btn btn-primary btn-sm mb-3">Category</a></span>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                    Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=category&sortDir=' + ${reverseSortDir}}">
                    Category</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
                    Price</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=quantity&sortDir=' + ${reverseSortDir}}">
                    Available Quantity (in K.G.) </a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteProducts/{id}(id=${product.id})}" onclick="return confirm('Are you sure you want to delete this product?')"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

            <div class = "col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>

            <div class = "col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>

                <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Back</a>

                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <div th:if = "${totalPages >= 1}">
                    <div class = "row col-sm-10">
                        <div class = "col-sm-2">
                            Total Rows: [[${totalItems}]]
                        </div>
            </div>
        </div>

    </div>
    <!-- Display delete message -->
    <div th:if="${param.delete}">
        <div class="alert alert-info">Record deleted Successfully.</div>
    </div>
</div>
<nav>
    <footer><a href="mailto:ashi@gmail.com">ContactUs</a>  </footer>
    <span><a th:href="@{/}">Home</a></span>
</nav>
</body>
</html>
